  
        *{
            margin: 1;
            padding: 0;
            box-sizing: border-box;
        }
        body
        {
            background: rgba(0,0,0,0.2);
        }
        .cont
        {
            
        display: grid;
        height:35em;
        gap: 30px;
        grid-template:repeat(12,1fr) / repeat(12,1fr) ;
        grid-template-areas:
        '. z z z z z z z z z z . '
        '. z z z z z z z z z z . '
        '. t t t t t y y y y y . '
        '. t t t t t y y y y y . '
        '. t t t t t y y y y y . '
        '. t t t t t y y y y y . '
        '. t t t t t y y y y y . '
        '. t t t t t y y y y y . '
        '. t t t t t y y y y y . '
        '. t t t t t y y y y y . '
        '. . . b b b b b b . . . '
        'r r r r r r r r r r r r '
        ;
        }
        .space
        {
            grid-area: r;
        }
        .block-1
        {  
        display: flex;
        grid-area:z;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;
        background: rgba(0,255,255,0.6);
        border: 1px solid blue;
        }
        .item{
        border: 1px solid red;
        }
        input
        {
       
        width: 40%;
        margin: 5px;
        padding: 10px;
        outline: none;
        font-size: 18px;
        background: transparent;
        border-radius: 10px;
        border: 2px solid black;     
        }
        .block-2
        {   display: flex;
            grid-area: t;
            column-gap: 20px;
        
        }
        .block-3
        {
            grid-area: y;
            display: flex;
            column-gap: 20px;
        }
        button
        {
            grid-area: b;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            font-size: 18px;
            margin-top:10px;
            background: rgba(0,255,255,0.6);
            border: 1px solid blue;
            cursor: pointer;
            
        }
        
        [class ^="cols-"]
        {   display:grid;
            grid-template:repeat(10,1fr)/repeat(10,1fr);
            grid-template-areas:
            'h h h h h h h h h h'
            's s s s s s s s s s'
            's s s s s s s s s s'
            's s s s s s s s s s'
            'm m m m m m m m m m'
            'm m m m m m m m m m'
            'm m m m m m m m m m'
            'l l l l l l l l l l'
            'l l l l l l l l l l'
            'l l l l l l l l l l';
            border: 1px solid blue;
            background: rgba(0,255,255,0.6);
            border-radius: 10px;
            flex-grow: 1;
        }
        .disc
        {
            grid-area: h;
            border: 1px solid green;
            border-radius: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            margin: 10px;
            padding: 10px;
        }
        [class ^="rows-"]
        {
         
         display: flex;
         margin: 10px;
        }
        [class ^="item"]
        {
            flex-grow: 1;
            display: flex;
            border: 1px solid red;
            border-radius: 10px;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            margin: 5px;
        }
        .rows-1
        {
            grid-area: s;
        }
        .rows-2
        {
            grid-area:m ;
        }
        .rows-3
        {
            grid-area: l;
        }
        .rows-4
        {
        grid-area: s;
        }
        .rows-5
        {
            grid-area: m;
        }
        .rows-6
        {
            grid-area: l;
        }
        @media  screen and (max-width:765px)
        {
            .block-3
            {
                display: none;
            }
    
        .cont
        {
        gap: 20px;
        grid-template:repeat(12,1fr) / repeat(12,1fr);
        grid-template-areas: 
        'z z z z z z z z z z z z '
        't t t t t t t t t t t t '
        't t t t t t t t t t t t '
        't t t t t t t t t t t t '
        't t t t t t t t t t t t '
        't t t t t t t t t t t t '
        't t t t t t t t t t t t '
        't t t t t t t t t t t t '
        't t t t t t t t t t t t '
        't t t t t t t t t t t t '
        '. . . b b b b b b . . .'
        '. . . b b b b b b . . . '
        
        ;
        }
        
        .item:hover
        {
            background:red ;
            color: whitesmoke;
        }
        [class ^="item"]
        {
            padding: 15px;
            flex-grow: 1;
            margin: 5px;
        }
        .block-2
        {
            grid-area: t;
        }
        .block-3
        {
            grid-area: t;
        }
        .block-1
        {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        input 
        {
            padding: 5px;
            height: 50px;
            
        }
        input[type='number']
        {
            width: 30%;    
        }
        .nav-link.actived
        {
            color:brown
        }
        }
    